<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserJobData</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>User Directory</h1>
    <ul>
      {{#id}}
      <li>
        <img src={{ImageUrl}} alt="suppose to be an avatar.">
        <a href="/{{id}}/">{{UserName}}</a>
        {{#Job}}
          <p>{{Job}}, {{Company}}</p>
        {{/Job}}
        {{^Job}}
          <p class="forHire">Available for hire</p>
        {{/Job}}
      </li>
      {{/id}}
    </ul>
  </body>
</html>
