<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserPage</title>
  </head>
  <body>
    <a href="/robotDelete/{{id}}">Delete</a>
    <div class="personalInfo">
      {{#ImageUrl}}
        <img src={{ImageUrl}} alt="suppose to be an avatar.">
      {{/ImageUrl}}
      {{^ImageUrl}}
        <img src="/Profile-placeholder-450x450.png" alt="Image of Robot suppose to go here.">
      {{/ImageUrl}}
      <h1>{{UserName}}</h1>
        {{#Address}}<p class="currentLinving">{{Address}} </p>{{/Address}}
        {{#Job}}<p class="career">{{Job}}, {{Company}}</p>{{/Job}}
          {{^Job}}<p class="forHire">Available for hire</p>{{/Job}}
        <p class="communication">{{Email}}, {{Phone}}</p>
        {{#University}} <p class="userSchool">Education: {{University}}</p>{{/University}}
          {{^University}}<p class="userSchool"></p>{{/University}}
    </div>
  </body>
</html>
