<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserPage</title>
  </head>
  <body>
    <div class="personalInfo">
      <img src={{avatar}} alt="Suppose to be a avatar">
      <h1>{{name}}</h1>

      {{#address.city}}<span class="currentLinving">{{address.city}}, {{address.country}}</span>{{/address.city}}
        {{^address.city}}<span>{{address.country}}</span>{{/address.city}}
      {{#job}}<span class="career">{{job}}, {{company}}</span>{{/job}}
        {{^job}}<p class="forHire">Available for hire</p>{{/job}}
      <span class="communication">{{email}}, {{phone}}</span>
      {{#university}} <p class="userSchool">Education: {{university}}</p>{{/university}}
        {{^university}}<p class="userSchool"></p>{{/university}}
      <span class="skillspan">Skills:</span>
      <ul class="userSkills">
        {{#skills}}<li class="skillsList">{{.}}</li>{{/skills}}
      </ul>
    </div>
  </body>
</html>
