<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserPage</title>
  </head>
  <body>
    <div class="personalInfo">
      <img src={{avatar}} alt="Suppose to be a avatar">
      <h1>{{name}}</h1>
      <span class="currentLinving">{{address.city}}, {{address.country}}</span>
      <span class="career">{{job}}, {{company}}</span>
      <span class="communication">{{email}}, {{phone}}</span>
    </div>
    <tbody>
      <tr>
        <td>Education</td>
        <td>{{university}}</td>
      </tr>
      <tr>
        <td>Skills</td>
        <td>{{skills}}</td>
      </tr>
    </tbody>
  </body>
</html>
